.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
    background: white;
    border: 1px solid #ccc;
    width: 80%;
    height: 30rem;
    margin: 10rem auto;
    padding: 5rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
}

.border {
    border-right: 2px solid #6cb3b7;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0;
    }
    .border {
        border: none;
        width: 100%;
        margin-left: 2.5rem;
    }
    .form {
        padding: 1remf;
    }
}